<div class="container col-md-12"> 
  <div>
      <button (click)="openModal()" class="btn btn-success" [disabled]="!auth.isAuthenticated()">Create your Order!</button>
      <p *ngIf="!auth.isAuthenticated()" class="text-warning">Login is required.</p>
  </div> 
<h2>Pizzas:</h2>  
<div class="table-responsive table-container">  
  <table class="table table-dark table-hover table-striped">  
    <thead class="thead-light">  
      <tr>  
        <th>Pizza name</th>  
        <th>Description</th> 
        <th>Price($)</th> 
        <th>Quantity</th>
        <th></th> 
      </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let preOrderPizza of preOrderDetails; let pos=index"> 
        <td>{{preOrderPizza.pizza.pizza}}</td>  
        <td>{{preOrderPizza.pizza.description}}</td>
        <td>{{preOrderPizza.pizza.price | currency : "USD" : true}}</td> 
        <td><input id="quantity" [(ngModel)]="preOrderPizza.quantity" style="width: calc(100% - 12px);"></td> 
        <td>  
          <button (click)="addToOrder(pos)" [disabled]="!auth.isAuthenticated()" class="btn btn-info"> Add to Order</button>  
          <p *ngIf="!auth.isAuthenticated()" class="text-warning">Login First.</p>
        </td>  
      </tr>  
    </tbody>  
  </table>  
</div> 
 
</div> 