<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--a class="navbar-brand" href="#">Auth0 - Angular</a -->

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        routerLink="/">
          Home      
      </button>

      <!--For admins only-->
      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated() && auth.userHasScopes(['create:pizza'])"
        routerLink="/admin">
          Pizzas admin      
        </button>

        <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:orders'])"
        routerLink="/orders">
          Customer Orders
        </button>

        <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:users'])"
        routerLink="/userListReport">
          Users Reports
        </button>

        <!-- For users only-->
        <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:myOrders'])"
        routerLink="/userOrders">
          My Orders
        </button>

      </div>
  </div>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to Pizza42 Order Site!
  </h1>
</div>
<main class="container">
  <router-outlet></router-outlet>
</main>