<h2>You are an Admin!</h2>
<h3>Create new Pizzas</h3><pre>yeah, admin has the power!</pre>
<div>
  <div class="form-group">
    <input #name placeholder="pizza name"/>
  </div>
  <div class="form-group">
      <textarea #description placeholder="description" rows = "5" cols = "60" name = "description"></textarea>
  </div>
  <div class="form-group"> 
    <input #price placeholder="price"/>
  </div>
    <button type="submit"
    class="btn btn-primary"
    (click)="adminCreatePizza(name.value, description.value, price.value)">
      Create pizza!
    </button>
</div>

<h2>Pizzas List:</h2>  
<div class="table-responsive table-container">  
  <table class="table table-dark table-hover table-striped">  
    <thead class="thead-light">  
      <tr>  
        <th>Pizza name</th>  
        <th>Description</th> 
        <th>Price($)</th>  
      </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let pizza of pizzas; let pos=index"> 
         
        <td>{{pizza.pizza}}</td>  
        <td>{{pizza.description}}</td>
        <td>{{pizza.price | currency : "USD" : true}}</td>
        
        <td><button class="btn" (click)="remove(pos)"><i class="fa fa-trash"></i></button>
        <!--button class="btn" (click)="update(pizza)"><i class="fa fa-edit"></i></button></td-->
        <button class="btn" (click)="openModal(pos)"><i class="fa fa-edit"></i></button></td>
        
      </tr>  
    </tbody>  
  </table>  
</div>